<head>
    {{>header}}
</head>

<body>
    <div class="jumbotron">
        <h1 class="mt-0">Welcome {{ name }}</h1>
        <table class="table table-hover">
            {{#entries}}

                <thead>
                    <tr>
                    <th scope="col">Coursework</th>
                    <th scope="col">Module</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Completion date</th>
                    <th scope="col">Milestones</th>
                    <th scope="col">More</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="table-active">
                        <td>{{courseworkNameField}}</td>
                        <td>{{moduleField}}</td>
                        <td>{{dueDateField}}</td>
                        <td>{{completitonDateField}}</td>
                        <td>
                            <form action="/coursework/milestones" method="GET" class="form-inline" >
                                <button  type="submit"name="ID" value="{{_id}}" class="btn btn-success" >View Milestones</button>
                            </form>

                            <form action="/coursework/newMilestone" method="GET" class="form-inline">
                                <button  type="submit" name="ID" value="{{_id}}"  class="btn btn-success"> Add Milestone</button>
                            </form>
                        </td>

                        <td>
                            <form action="/coursework/milestones" method="GET" class="form-inline" >
                                <button  type="submit"name="ID" value="{{_id}}" class="btn btn-warning" >Edit</button>
                            </form>

                            <form action="/coursework/delete-coursework" method="POST" class="form-inline">
                                <input type="hidden" id="courseworkId" name="courseworkId" value = "{{_id}}">
                                <button  type="submit" name="ID" value="{{_id}}"  class="btn btn-danger">Delete</button>
                            </form>


                            <form action="/coursework/newMilestone" method="GET" class="form-inline">
                                <button  type="submit" name="ID" value="{{_id}}"  class="btn btn-info">Share</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            {{/entries}}
        </table> 
    </div>
</body>
