<head>
    {{>header}}
</head>

<body>
    <div class="jumbotron">
        <h1 class="mt-0">Welcome {{ name }}</h1>
        <table class="table table-hover table-bordered">
            {{#entries}}

                <thead>
                    <tr>
                        <th scope="col">Coursework</th>
                        <th scope="col">Module</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Completion date</th>
                        <th scope="col">Milestones</th>
                        <th scope="col">More</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="table-default">
                        <td>{{courseworkNameField}}</td>
                        <td>{{moduleField}}</td>
                        <td>{{dueDateField}}</td>
                        <td>{{completionDateField}}</td>
                        <td>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-success">More</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">


      <form action="/milestone/milestones" method="GET" class="dropdown-item" >
                                <button  type="submit"name="ID" value="{{_id}}" class="dropdown-item" >View Milestones</button>
                            </form>

                            <form action="/milestone/newMilestone" method="GET" class="dropdown-item">
                                <button  type="submit" name="ID" value="{{_id}}"  class="dropdown-item"> Add Milestone</button>
                            </form>


    </div>

  </div>
</div>



                           
                        </td>

                        <td>


                                 <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-warning">More</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="">
      
                            <form action="/coursework/editCoursework" method="GET" class="dropdown-item" >
                                <button  type="submit"name="ID" value="{{_id}}" class="dropdown-item" >Edit</button>
                            </form>

                            <form action="/coursework/delete-coursework" method="POST" class="dropdown-item">
                                <input type="hidden" id="courseworkId" name="courseworkId" value = "{{_id}}">
                                <button  type="submit" name="ID" value="{{_id}}"  class="dropdown-item">Delete</button>
                            </form>


                            <form action="/coursework/shareCoursework" method="GET" class="dropdown-item">
                                <button  type="submit" name="ID" value="{{_id}}"  class="dropdown-item">Share</button>
                            </form>
    </div>
  </div>
</div>

                      
                        </td>
                    </tr>
                </tbody>
            {{/entries}}
        </table> 
    </div>
</body>
