<head>
    {{>header}}
</head>

<body>

      <div class="card" style="width: 100%">
            <table class="table table-hover">
                  {{#milestone}}
                              <thead>
                              <tr>
                                    <th scope="col">Milestone Name:</th>
                                    <th scope="col">Milestone date:</th>
                                    <th scope="col">Description:</th>
                                    <th scope="col">Edit Milestone</th>
                                    <th scope="col">Remove Milestone</th>
                              </tr>
                        </thead>
                        <tbody>
                        <tr class="table-active">
                              <td>{{milestoneNameField}}</td>
                              <td>{{milestoneDateField}}</td>
                              <td>{{milestonedescriptionField}}</td>
                              <br>
                              <td>  <form action="/coursework/delete-milestone" method="POST" class="form-inline">
                                    <input type="hidden" id="milestoneId" name="milestoneId" value = "{{_id}}">
                                    <button  type="submit" name="ID" value="{{_id}}"  class="btn btn-danger">Delete</button>
                              </form></td>
                        </tbody>
                  {{/milestone}}
            </table> 
      </div>
</body>