<head>
    {{>header}}
</head>

<body>
    {{#milestone}}
        <div>
            <div>
                <h2> Milestone Name: {{milestoneNameField}} </h2>
            </div>
            <div>
                <h3> Milestone date: {{milestoneDateField}} </h3>
                <h3> Description: {{milestonedescriptionField}} </h3>
            <div>
        </div>
    {{/milestone}}

</body>