<head>
    {{>header}}
</head>

<body>
    <form method="post">
        <label for="courseworkName">Coursework Name: </label><br>
        <input type="text" id="courseworkName" name="courseworkName"><br>
        <label for="moduleName">Module Name: </label><br>
        <input type="text" id="moduleName" name="moduleName"><br>
        <label for="dueDate">Due Date: </label><br>
        <input type="date" id="dueDate" name="dueDate"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>