



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">




<body>

  <div class="bg"></div>

  

  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mt-5">Welcome to Online Coursework Planner </h1>
       
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-success btn-block">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>



</body>






